.app {
    background: #719c4f;
    padding: 30px;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
}

.todo-list {
    background: transparent;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
    margin: auto;
}

.todo {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 12px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo .button{
    margin: 0 5px;
    padding: 3px;
}
.input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
}

.add-todo {
    width: 400px;
    margin: auto;
    padding: 20px 0 40px 0;
}
